.aboutWrapper{
    width: 100%;
    height: 100vw;
    background: #fc6c85;
    }
.navWrapper_1{
    width: 20%;
    height: 100vw;
    background: #BFFFBF;
    }
.navWrapper_2{
    width: 10%;
    height: 100vw;
    background: #006400;
    }
img{filter: brightness(0%)}